CustomerDocuments.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================== File: CustomerDocuments.wsdl 
	Description: Customer Documents WSDL Created By: IBM. Date: 2014-03-24 Version: 
	V0.2 Version History =========== Ver Date Description V0.2 2014-03-24 a) 
	Renamed ExecutePreview to PreviewComms b) Added Comms Request v0.3 2014-04-28 
	a) Refers v0.3 of CustomerDocuments.xsd b) adjusted relative paths. V0.4 
	2014-05-22 a) No change to wsdl for Sprint 6. Refers v0.4 of CustomerDocuments.xsd 
	================================================== -->
<wsdl:definitions
	xmlns:implws="http://directlinegroup.co.uk/schemas/custdocs/custdocsesb/1/0"
	xmlns:impl="http://directlinegroup.co.uk/schemas/custdocs/custdocsesb/businessentity/1/0"
	xmlns:hdr="http://directlinegroup.co.uk/Schemas/Headers/1/0" xmlns:flt="http://directlinegroup.co.uk/Schemas/Faults/1/0"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://directlinegroup.co.uk/schemas/custdocs/custdocsesb/1/0">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://directlinegroup.co.uk/schemas/custdocs/custdocsesb/businessentity/1/0"
			attributeFormDefault="unqualified" elementFormDefault="qualified">
			<xsd:include schemaLocation="xsd/CustomerDocuments.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://directlinegroup.co.uk/Schemas/Headers/1/0"
			attributeFormDefault="unqualified" elementFormDefault="qualified">
			<xsd:include schemaLocation="xsd/Header.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://directlinegroup.co.uk/Schemas/Faults/1/0"
			attributeFormDefault="unqualified" elementFormDefault="qualified">
			<xsd:include schemaLocation="xsd/Fault.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetDraftDocumentRequest">
		<wsdl:part name="GetDraftDocumentRequestPart" element="impl:GetDraftDocumentRequest" />
	</wsdl:message>
	<wsdl:message name="GetDraftDocumentResponse">
		<wsdl:part name="GetDraftDocumentResponsePart" element="impl:GetDraftDocumentResponse" />
	</wsdl:message>
	<wsdl:message name="CreateDocumentsRequest">
		<wsdl:part name="CreateDocumentsRequestPart" element="impl:CreateDocumentsRequest" />
	</wsdl:message>
	<wsdl:message name="CreateDocumentsResponse">
		<wsdl:part name="CreateDocumentsResponsePart" element="impl:CreateDocumentsResponse" />
	</wsdl:message>
	
	<wsdl:message name="GetJobDetailRequest">
		<wsdl:part name="GetJobDetailRequestPart" element="impl:GetJobDetailRequest" />
	</wsdl:message>	
	<wsdl:message name="GetJobDetailResponse">
		<wsdl:part name="GetJobDetailResponsePart" element="impl:GetJobDetailResponse" />
	</wsdl:message>
	<wsdl:message name="GetJobsRequest">
		<wsdl:part name="GetJobsRequestPart" element="impl:GetJobsRequest" />
	</wsdl:message>		
	<wsdl:message name="GetJobsResponse">
		<wsdl:part name="GetJobsResponsePart" element="impl:GetJobsResponse" />
	</wsdl:message>
	
	<wsdl:message name="DLGCommonHeaderExternal">
		<wsdl:part name="Header" element="hdr:DLGCommonHeaderExternal" />
	</wsdl:message>
     <wsdl:message name="InvalidResponseFaultMessage">
		<wsdl:part name="fault" element="flt:Fault" />
	</wsdl:message>
	<wsdl:portType name="JobAPIWeb">
		<wsdl:operation name="getDraftDocument">
			<wsdl:input name="GetDraftDocumentRequest" message="implws:GetDraftDocumentRequest" />
			<wsdl:output name="GetDraftDocumentResponse" message="implws:GetDraftDocumentResponse" />
			<!-- Common Faults -->
         <wsdl:fault name="InvalidResponseFault" message="implws:InvalidResponseFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="createDocuments">
			<wsdl:input name="CreateDocumentsRequest" message="implws:CreateDocumentsRequest" />
			<wsdl:output name="CreateDocumentsResponse" message="implws:CreateDocumentsResponse" />
			<!-- Common Faults -->
        <wsdl:fault name="InvalidResponseFault" message="implws:InvalidResponseFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="getJobDetail">
			<wsdl:input name="GetJobDetailRequest" message="implws:GetJobDetailRequest" />
			<wsdl:output name="GetJobDetailResponse" message="implws:GetJobDetailResponse" />
        <wsdl:fault name="InvalidResponseFault" message="implws:InvalidResponseFaultMessage" />
		</wsdl:operation>
		<wsdl:operation name="getJobs">
			<wsdl:input name="GetJobsRequest" message="implws:GetJobsRequest" />
			<wsdl:output name="GetJobsResponse" message="implws:GetJobsResponse" />
        <wsdl:fault name="InvalidResponseFault" message="implws:InvalidResponseFaultMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="JobAPIWebWrappedSoapBinding" type="implws:JobAPIWeb">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getDraftDocument">
			<soap:operation
				soapAction="http://directlinegroup.co.uk/wsdl/custdocs/custdocsesb/getDraftDocument" />
			<wsdl:input>
				<soap:header message="implws:DLGCommonHeaderExternal"
					part="Header" use="literal" />
				<soap:body parts="GetDraftDocumentRequestPart" use="literal" />
			</wsdl:input>
			<wsdl:output name="GetDraftDocumentResponse">
				<soap:header message="implws:DLGCommonHeaderExternal"
					part="Header" use="literal" />
				<soap:body parts="GetDraftDocumentResponsePart" use="literal" />
			</wsdl:output>
			<!-- Common Faults -->
			<wsdl:fault name="InvalidResponseFault">
				<wsdl:documentation>A failure in processing of the response from the service provider because it has failed to supply some information or the information supplied does not meet the preconditions of the operation.</wsdl:documentation>
				<soap:fault name="InvalidResponseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createDocuments">
			<soap:operation soapAction="http://directlinegroup.co.uk/wsdl/custdocs/custdocsesb/CreateDocuments" />
			<wsdl:input>
				<soap:header message="implws:DLGCommonHeaderExternal" part="Header" use="literal" />
				<soap:body parts="CreateDocumentsRequestPart" use="literal" />
			</wsdl:input>
			<wsdl:output name="CreateDocumentsResponse">
				<soap:header message="implws:DLGCommonHeaderExternal" part="Header" use="literal" />
				<soap:body parts="CreateDocumentsResponsePart" use="literal" />
			</wsdl:output>
			<!-- Common Faults -->
			<wsdl:fault name="InvalidResponseFault">
				<wsdl:documentation>A failure in processing of the response from the service provider because it has failed to supply some information or the information supplied does not meet the preconditions of the operation.</wsdl:documentation>
				<soap:fault name="InvalidResponseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getJobDetail">
			<soap:operation soapAction="http://directlinegroup.co.uk/wsdl/custdocs/custdocsesb/getJobDetail" />
			<wsdl:input>
				<soap:header message="implws:DLGCommonHeaderExternal" part="Header" use="literal" />
				<soap:body parts="GetJobDetailRequestPart" use="literal" />
			</wsdl:input>
			<wsdl:output name="GetJobDetailResponse">
				<soap:header message="implws:DLGCommonHeaderExternal" part="Header" use="literal" />
				<soap:body parts="GetJobDetailResponsePart" use="literal" />
			</wsdl:output>
			<!-- Common Faults -->
			<wsdl:fault name="InvalidResponseFault">
				<wsdl:documentation>A failure in processing of the response from the service provider because it has failed to supply some information or the information supplied does not meet the preconditions of the operation.</wsdl:documentation>
				<soap:fault name="InvalidResponseFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getJobs">
			<soap:operation soapAction="http://directlinegroup.co.uk/wsdl/custdocs/custdocsesb/getJobs" />
			<wsdl:input>
				<soap:header message="implws:DLGCommonHeaderExternal" part="Header" use="literal" />
				<soap:body parts="GetJobsRequestPart" use="literal" />
			</wsdl:input>
			<wsdl:output name="GetJobsResponse">
				<soap:header message="implws:DLGCommonHeaderExternal" part="Header" use="literal" />
				<soap:body parts="GetJobsResponsePart" use="literal" />
			</wsdl:output>

			<wsdl:fault name="InvalidResponseFault">
				<wsdl:documentation>A failure in processing of the response from the service provider because it has failed to supply some information or the information supplied does not meet the preconditions of the operation.</wsdl:documentation>
				<soap:fault name="InvalidResponseFault" use="literal" />
				</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="JobAPIWebService">
		<wsdl:port name="JobAPIWebWrapped" binding="implws:JobAPIWebWrappedSoapBinding">
			<soap:address
				location="http://localhost:8080/smartcommunication/services/JobAPIWebWrapped" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>